HttpServer:
  listenAddr: "localhost:8099"
  address: "localhost"
  port: "8099"
DB:
  host: localhost
  port: 5432
  password: user@pass
  name: ecom_micro_auth_db
  user: root
RateLimit:
  limitPerMin: 100
Hash:
  passwordSalt: "salt"
JWT:
  SECRET_KEY: "secret_key"
  TOKEN_EXPIRE_DAY: 7
  REFRESH_TOKEN_EXPIRE_DAY: 30