HttpServer:
  listenAddr: "localhost:8099"
  address: "localhost"
  port: "8099"
DB:
  host: localhost
  port: 5432
  password: user@pass
  name: ecom_micro_auth_db
  user: root
RateLimit:
  limitPerMin: 100